:root {
	--space-unit: 1rem;

	--space-xxs: calc(0.25 * var(--space-unit)); /* 4px */
	--space-xs: calc(0.5 * var(--space-unit)); /* 8px */
	--space-sm: calc(0.75 * var(--space-unit)); /* 12px */
	--space-md: calc(1 * var(--space-unit)); /* 16px */
	--space-lg: calc(1.5 * var(--space-unit)); /* 24px */
	--space-xl: calc(2 * var(--space-unit)); /* 32px */
}

.mt-sm {
	margin-top: var(--space-sm);
}
.px-lg {
	padding-left: var(--space-lg);
	padding-right: var(--space-lg);
}
.gap-xl {
	gap: var(--space-xl);
}
